certifi==2020.6.20
cffi==1.13.2
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1602255302199/work
cryptography==2.8
idna==2.8
numpy==1.17.3
pandas==0.25.3
pycparser==2.19
pyOpenSSL==19.0.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1602326928339/work
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
requests==2.22.0
selenium @ file:///home/conda/feedstock_root/build_artifacts/selenium_1602632393611/work
six==1.13.0
urllib3==1.25.7
